# Directories
.vs/
bin/
bin-int/

# Files
*.user
Sandbox/KingoProfile-Runtime.json
Sandbox/KingoProfile-Shutdown.json
Sandbox/KingoProfile-Startup.json
Sandbox/KingoProfile-Runtime.json
Sandbox/KingoProfile-Shutdown.json
Sandbox/KingoProfile-Startup.json
Sandbox/KingoProfile-Runtime.json
